/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
!var/private.pem
!var/public.pem
/vendor/
/web/bundles/
/bin/
!/bin/symfony_requirements
!/bin/console
.php_cs.cache
devkit.lock
./reports/
./idea/
